html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #222222;
  background: #fff;
  /* color: #12326E; */
  line-height: normal;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button:focus-visible,
summary:focus-visible,
a:focus-visible,
input:focus-visible,
textarea:focus-visible,
select:focus-visible,
.styled-checkbox:focus-visible + label:before {
  outline: dashed 3px Highlight;
  outline: dashed 2px -webkit-focus-ring-color;
  outline-offset: 2px;
}

.main-navigation ul > li > a:focus-visible,
footer.main ul.footer-menu > li a {
  outline-color: #fff;
}

div#__next {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

div#__next > .page {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

h1 {
  font-size: 32px;
}

a {
  -webkit-transition: color .14s ease-out, background-color .14s ease-out;
  transition: color .14s ease-out, background-color .14s ease-out;
}

fieldset {
  border: 0;
  padding: 0;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}

.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.styled-checkbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 24px;
  height: 24px;
  background: #FFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  box-shadow: none;
  margin-top: -2px;
}
.styled-checkbox:focus-visible + label:before {
  outline: dashed 3px Highlight;
  outline: dashed 2px -webkit-focus-ring-color;
  outline-offset: 2px;
}

.styled-checkbox:hover + label:before {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.styled-checkbox:checked + label:before {
  background: #12326E;
}

.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}

.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}

.styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  background-image: url(../public/image/icon-pipe.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: block;
}

.button-loader {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.button-loader:after {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  margin: 0;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loader 1.2s linear infinite;
}

.Modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: 'translate(-50%, -50%)';
  transition: 'visibility .25s linear,opacity .25s ease,transform .25s ease,-webkit-transform .25s ease!important';
  background-color: #FFF;
  border-radius: 6px;
  width: 60%;
  height: 65%;
  display: flex;
  flex-direction: column;
  max-height: 540px;
  max-width: 660px;
}

.Modal img {
  width: 100%;
  height: auto;
  max-width: 600px;
}

.Modal .modal-content {
  padding: 28px;
  overflow: hidden;
  flex: 1;
  margin: 0 auto;
}

.Modal button {
  color: #222;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
  width: 100%;
  border-radius: 0;
  padding: 14px;
  cursor: pointer;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(4,6,8,.85);
}

body.ReactModal__Body--open .site-header {
  z-index: 0;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 1440px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    max-width: 1280px
  }
}


/* stylelint-disable */
#cc--main #cm {
  width: 80%;
  max-width: 500px;
}

#cc--main #c-txt p,
#cc--main .desc p {
  margin-bottom: 15px;
  line-height: 18px;
}

span.cc_underline,
span.cc_underline:hover {
  text-decoration: underline;
}

span.cc_bold,
span.cc_bold:hover {
  font-weight: 600;
}

span.cc_highlight,
span.cc_highlight:hover {
  font-weight: 600;
  text-decoration: underline;
}

@media screen and (max-width: 991px) {
  #cc--main #cm {
    max-height: calc(100vh - 130px);
    overflow: scroll;
  }
}

@media screen and (max-width: 576px) {
  #cc--main #cm {
    width: 90%;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
}
/* stylelint-enable */
