main.page {
  margin-top: -98px;
  padding-top: 98px;
}

main.page.auth {
  background: linear-gradient(90deg,#12326e,#03194d);
  background: url('../public/image/szabadsag-szobor.png') no-repeat top center, linear-gradient(90deg,#12326e,#03194d);
  background-size: cover;
}

header.site-header {
  background: linear-gradient(90deg,#12326e,#03194d);
  z-index: 2;
}

header.site-header .site-header-inner {
  padding: 22px 0;
}

header.site-header.header-line .site-header-inner {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header.transparent-header {
  background: transparent;
}

.site-header a.logo {
  display: inline-block;
}

.site-header a.logo img {
  width: 100%;
  height: auto;
}

.main-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

.main-navigation ul > li {
  display: inline-block;
}

.main-navigation ul > li > a {
  color: #fff;
  padding: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-decoration: none;
  position: relative;
}

.main-navigation ul > li > a > span {
  position: relative;
}

.main-navigation ul > li > a.active span::after,
.main-navigation ul > li > a:hover span::after {
  content: ' ';
  height: 3px;
  background-color: #0EA6CE;
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
}

.flex-center {
  align-items: center;
}

.flex-align-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  text-decoration: none !important;
  font-size: 14px;
  font-weight: 600;
  font-style: normal !important;
  text-transform: uppercase;
  padding: 14px 32px;
  border: 1px solid transparent;
  border-radius: 999px;
  line-height: 20px;
  letter-spacing: 2px;
  display: inline-block;
  white-space: wrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
}

.btn-primary {
  background: #0EA6CE;
  border: 1px solid #0EA6CE;
  color: #fff;
  transition: background-color .1s ease-in-out;
}

.btn-primary:hover {
  background: rgba(14, 166, 206, 0.8);
  border-color: rgba(14, 166, 206, 0.8);
}

.btn-secondary {
  background: rgb(236, 247, 253);
  border: 1px solid rgb(236, 247, 253);
  color: #12326E;
  transition: background-color .1s ease-in-out;
}

.btn-secondary:hover {
  background: rgb(220, 239, 249);
  border-color: rgb(220, 239, 249);
}

.btn.btn-small {
  padding: 8px 18px;
}

.button-inner {
  display: flex;
  align-items: center;
}

.btn.btn-icon {
  padding-right: 18px;
}

.btn.btn-icon .icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../public/image/icon-arrow-right.svg);
  background-repeat: no-repeat;
  margin-left: 8px;
}

.btn-loading,
.btn-loading:hover {
  position: relative;
  background-color: #EEEEEE;
  border: 1px solid #DDDDDD;
}

.btn-loading > .button-inner {
  visibility: hidden;
}

details.section-more {
  text-align: left;
  border-bottom: 1px solid #DDDDDD;
  padding: 0px 0px 2px 0;
  margin-bottom: 18px;
}

details > summary {
  list-style: none;
  font-weight: bold;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin: 18px 0;
}

details > summary::marker,
details > summary::-webkit-details-marker {
  display: none;
}

details.section-more[open] summary::after {
  transform: rotate(180deg);
}

details.section-more summary::after {
  content: ' ';
  background: url(../public/image/icon-arrow-top-blue.svg);
  background-repeat: no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  margin: 0;
}

details.section-more:first-of-type summary {
  margin-top: 0;
}

details[open] summary ~ * {
  animation: sweep .2s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px
  }

  100% {
    opacity: 1;
    margin-top: 0px
  }
}

.hamburger-menu-wrapper {
  display: none;
  justify-content: end;
}

.hamburger-menu-toggle {
  display: inline-block;
  border: 0;
  padding: 0;
  background: none;
  box-shadow: none;
  cursor: pointer;
  text-align: center;
  color: #fff;
}

.hamburger-menu {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.hamburger-menu > .hamburger-menu-elem {
  /* background-color: #12326E; */
  background-color: #FFF;
  height: 4px;
  margin-bottom: 4px;
}

.hamburger-menu-wrapper .hamburger-menu-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}

footer.main {
  background: linear-gradient(90deg, #12326E 0%, #03194D 100%);
  padding-bottom: 32px;
}

footer.main .logo-wrapper {
  padding: 58px 0;
}

footer.main ul.footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

footer.main ul.footer-menu > li {
  display: inline-block;
}

footer.main ul.footer-menu > li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  padding: 0 16px;
  cursor: pointer;
}

footer.main ul.footer-menu > li a:hover {
  text-decoration: underline;
}

footer.main .copyright-wrapper {
  color: #fff;
}

.page.auth {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url(/image/bridge.png);
  background-repeat: no-repeat;
  background-size: cover; */
  background: linear-gradient(90deg, #12326E 0%, #03194D 100%);
}

.auth-wrapper > .information {
  color: #fff;
  text-align: center;
}

.auth-wrapper > .information > p {
  font-size: 18px;
  margin-bottom: 0;
}

.auth-wrapper.new-auth .information {
  padding: 100px 0 100px 0;
}

.new-auth.middle-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}

.new-auth .middle-section-wrapper {
  padding: 40px 0 0 0;
}

.new-auth .middle-section-wrapper .button-wrapper {
  padding: 20px 0 20px 0;
}

.new-auth.middle-section-container hr.page-end-hr {
  border-top: 1px solid #DDDDDD;
  margin-bottom: 80px;
}

.dropdown-input-container .dropdown-select {
  padding: 12px;
  color: #777777;
  width: 280px;
}

.login-wrapper {
  background: #FFFFFF;
  border-radius: 6px;
  padding: 32px;
  margin: 32px 0;
}

.login-wrapper input[type="text"] {
  width: 100%;
}

.input-wrapper {
  margin-bottom: 25px;
}

.input-wrapper label, .file-upload-container .file-upload-label {
  color: #12326E;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  display: block;
}

.input-wrapper label.checkbox {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #222222;
}

.input-wrapper label.checkbox > input {
  margin-right: 8px;
}

.input-wrapper input[type="text"] {
  display: block;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  padding: 12px;
  color: #222222;
  margin: 8px 0;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.input-wrapper .info {
  color: #0EA6CE;
  font-size: 14px;
}

.input-wrapper .info::before {
  content: '';
  background-image: url(../public/image/icon-info.svg);
  background-repeat: no-repeat;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 6px;
}

.file-upload-container .file-upload-input {
  display: none;
}

.file-upload-container .file-upload-button-label {
  padding: 8px 18px;
  background-color: #EEF8FE;
  cursor: pointer;
  border: 1px solid #C5E9F5;
  border-radius: 4px;
  display: inline-block;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.file-upload-container .image-thumbnail-wrapper {
  margin-top: 16px;
}

.file-upload-container .long-info a:hover {
  text-decoration: none;
}

.file-upload-image-thumbnail-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.file-upload-image-thumbnail-info div {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
}

.file-upload-image-thumbnail-info  .remove-image-button {
  position: relative;
  top: -10px;
  color: #222222;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.file-upload-image-thumbnail-info .remove-image-button:hover {
  color: #dddddd;
}

.long-info {
  margin: 4px 0 12px 0;
  line-height: 24px;
}

.long-info a {
  cursor: pointer;
}

.input-wrapper a {
  color: #0EA6CE;
  text-decoration: none;
}

.input-wrapper a:hover {
  text-decoration: underline;
}

.auth-wrapper hr {
  background: #DDDDDD;
  height: 1px;
  border: 0;
  margin: 32px 0 24px 0;
}

.btn[disabled] {
  background: #EEEEEE;
  border: 1px solid #DDDDDD;
  border-radius: 999px;
  cursor: default;
}

.error-message {
  margin: 12px 0;
  padding: 12px;
  background-color: #E5332A;
  color: #fff;
  border-radius: 4px;
}

.error-message.error-info {
  background-color: rgba(229, 51, 42, 0.12);
  color: #222222;
  display: flex;
  align-items: center;
}

.info-icon {
  align-self: baseline;
  min-width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid red;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  margin-right: 10px;
}

.mail-question-info {
  text-transform: uppercase;
  color: #0EA6CE;
  font-weight: 600;
  text-decoration: none;
}

.vote-navigation {
  background: #0EA6CE;
  text-align: center;
  color: #fff;
  padding: 24px 0;
}

.vote-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.vote-navigation ul > li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.vote-navigation ul > li .question-info:after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../public/image/icon-arrow-right.svg);
  background-repeat: no-repeat;
  margin: 0 12px;
}

.vote-navigation ul > li:last-of-type .question-info:after {
  display: none;
}

.vote-navigation .question-info {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.vote-navigation .number {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 0.2);
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  border-radius: 100%;
  margin-right: 8px;
  font-weight: 600;
}

.vote-navigation .number.active {
  background: #FFD200;
  color: #222222;
}

.vote-section {
  padding: 58px 0;
  flex: 1;
}

.vote-section h2 {
  font-size: 22px;
  margin-top: 0;
}

.vote-section p {
  font-size: 18px;
  line-height: 26px;
}

.radio-inline {
  background: #FFFFFF;
  border: 1px solid rgba(18, 50, 110, 0.12);
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.radio-inline > label {
  padding: 24px;
  cursor: pointer;
}

.radio-inline label span {
  display: block;
}

label.radio-inline > input[type="radio"] {
  margin-right: 6px;
}

.radio-inline input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 0;

  font: inherit;
  color: #DDDDDD;
  width: 24px;
  height: 24px;
  border: 2px solid #DDDDDD;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

.radio-inline input[type="radio"]::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #12326E;
  background-color: CanvasText;
}

.radio-inline input[type="radio"]:checked::before {
  transform: scale(1);
}

.radio-inline:hover {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

.radio-inline-active {
  background-color: #0EA6CE;
  color: #fff;
  border-color: #0EA6CE;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 0;
  align-items: stretch;
}

.form-group > .radio-inline {
  width: 50%;
  margin: 0 16px;
}

.form-group > .radio-inline:first-child {
  margin-left: 0;
}

.form-group > .radio-inline:last-child {
  margin-right: 0;
}

.radio-inline label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.radio-inline .radio-label {
  flex: 1;
  margin-left: 8px;
}

.vote-skip-wrapper {
  padding: 32px 0 16px 0;
  border-top: 1px solid #DDDDDD;
  display: flex;
  align-items: center;
}

.vote-skip-wrapper > div:first-of-type {
  flex: 1;
}

.btn-link {
  color: #0EA6CE;
  border: 0;
  background: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  text-transform: none;
}

.btn-link:hover {
  text-decoration: underline !important;
}

.vote-skip-wrapper .btn-link {
  color: #777777;
}

.btn-next {
  color: #777777;
  border: 0;
  background: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  text-transform: none;
}

.btn-next.active {
  color: #0EA6CE;
}

.btn-next:hover {
  text-decoration: underline !important;
}

.support-content {
  background-color: #ECF7FD;
  padding: 60px 0;
}

.support-content h2 {
  margin: 0;
}

.vote-section h1 {
  text-align: center;
  margin: 0;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px 0;
}

.button-wrapper > button {
  margin: 0 9px;
}

.submit-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 32px; */
}

.submit-button-wrapper a {
  padding: 10px;
}

.submit-button-wrapper > a {
  color: #0EA6CE;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-decoration: none;
}

.submit-button-wrapper > a.cancel-button {
  color: #777777;
}

.overview {
  margin: 58px 0 48px 0;
}

.vote-overview-item {
  background: #FFFFFF;
  border: 1px solid rgba(18, 50, 110, 0.12);
  border-radius: 6px;
  padding: 18px;
  margin-bottom: 18px;
}

.question-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #222222;
}

.question-answer-label {
  color: #0EA6CE;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 26px 0 14px 0;
}

.question-answer {
  line-height: 22px;
  letter-spacing: 0.01em;
  flex: 1;
}

.question-answer-inner {
  display: flex;
  align-items: center;
}

.question-modify-control {
  margin-left: 18px;
  display: flex;
  flex-direction: row;
}

.question-modify .vote-skip-wrapper {
  border: 0;
  margin: 0;
  padding: 0;
}

.question-modify-control button {
  margin: 0 9px;
}

.question-modify-control button:last-of-type {
  margin-right: 0;
}

.error-message-inline {
  color: #E5332A;
  font-size: 14px;
  display: flex;
  align-items: center;
  line-height: 22px;
}

label.checkbox + .error-message-inline {
  margin-left: 34px;
}

.error-message-inline::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../public/image/icon-alert.svg);
  background-repeat: no-repeat;
  margin-right: 4px;
}

.error-message-single::before {
  display: none;
}

input[type="text"][aria-invalid="true"] {
  border-color: #E5332A;
}

input[aria-invalid="true"] + label::before,
input[aria-invalid="true"] + label:hover::before {
  border-color: #E5332A;
}

.question-answer-wrapper b {
  font-weight: normal;
}

.event-logo {
  background: url(../public/image/event-logo.svg);
  background-repeat: no-repeat;
  width: 80px;
  height: 70px;
  margin: 0 auto;
}

.page.success {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .vote-navigation ul > li {
    margin: 0 0 8px;
  }
}

@media screen and (max-width: 1023px) {

}

@media screen and (max-width: 991px) {
  .hamburger-menu-wrapper {
    display: flex;
  }

  .main-navigation > .navigation-wrapper ul {
    display: none;
  }

  .main-navigation > .navigation-wrapper.open {
    background: linear-gradient(90deg, #12326E 0%, #03194D 100%);
    display: block;
    height: 100vh;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    padding-top: 82px;
  }

  .main-navigation > .navigation-wrapper.open ul {
    display: block;
    width: 100%;
    margin: 0;
    text-align: left;
  }

  .main-navigation > .navigation-wrapper.open ul > li {
    display: flex;
  }

  .main-navigation > .navigation-wrapper.open ul > li > a {
    font-size: 24px;
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: block;
    width: 100%;
    padding: 24px 0;
    line-height: 32px;
  }

  .main-navigation > .navigation-wrapper.open ul > li > a:hover span::after {
    display: none;
  }

  .support-content h2 {
    margin-bottom: 36px;
  }

  footer.main .logo-wrapper {
    padding-bottom: 24px;
  }

  footer.main ul.footer-menu {
    margin-top: 36px;
    display: block;
    text-align: left;
  }

  footer.main ul.footer-menu > li {
    display: block;
  }

  footer.main ul.footer-menu > li a {
    padding: 12px 0;
  }
}

@media screen and (max-width: 767px) {
  .form-group {
    flex-direction: column;
  }

  .form-group > .radio-inline {
    width: 100%;
  }

  .form-group > .radio-inline:first-child {
    margin: 0 0 18px 0;
  }

  .form-group > .radio-inline:last-child {
    margin: 0;
  }

  .vote-section .button-wrapper {
    flex-direction: column-reverse;
  }

  .button-wrapper > button {
    margin: 9px 0;
  }

  .vote-navigation ul {
    display: flex;
    flex-direction: column;
  }

  .vote-navigation ul > li {
    margin: 4px 0;
  }
}
